<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kinkao Restaurant Service Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h1 class="display-6">Welcome to Kinkao Restaurant Service Website</h1>
    <p th:text="| ${greeting}, Khun ${user} |"></p>
</div>
</body>
</html>